<!DOCTYPE html>
<html>
  <head>
    <title>Googlemap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPS_API_KEY']}&libraries=places&callback=dispatchMapsEvent",
                                async: true,
                                defer: true,
                                "data-turbolinks-eval": false %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>ß
